.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px; 
    margin-left: 45px;
}

.card img{
    width: 100%;
    border-radius: 5px;
}
.card h2{
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 5px 0;
    
}
.card h3{
    font-size: 14px;
    font-weight: 600;
    color: gray;
    margin: 6px 0;
}
.card p{
    font-size: 14px;
}

@media only screen and (max-width: 900px){
    .feed{
        max-width: 48%;
    }
}