*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap; 
    border-bottom: 1px solid rgb(216, 208, 208);
    padding: 0 10px; 
}

.search-logo img{
    width: 100px;
    object-fit: contain;
    cursor: pointer;
    display: block;
    margin-left: 10px;
}

.search-box-pro input{
    padding: 10px; 
    background-color: transparent;
    border: 2px solid gray;
    outline: 0;
    color: black;
    font-size: 16px; 
    width: 100%; 
    border-radius: 50px;
    margin-top: 10px; 
    margin-left: 10px; 
    margin-bottom: 5px;
}

.micro, .create, .bell{
    width: 40px;
    height: 40px; 
    object-fit: contain;
    cursor: pointer;
    border: 2px solid rgb(202, 196, 196);
    border-radius: 50%;
    background-color: transparent;
    display: block;
    margin-top: 10px; 
    margin-right: 10px; 
    margin-bottom: 5px;
}

.log-txt h2{
    width: auto;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 10px; 
    font-size: 14px;
    margin-top: 10px; 
    margin-bottom: 5px;
}

